@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap");

body {
  font-family: "Bubblegum Sans", cursive;
}

/* Container */
.content-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.container-wrapper--blue {
  background-color: #2cafe3;
  color: white;
}

/* Jumbotron */
.jumbotron {
  background-color: transparent;
}

.jumbotron h1 {
  color: white;
  margin-bottom: 30px;
}

.jumbotron .lead {
  color: #a7a7a7;
  margin: 25px 0;
}

/* Callout */
.callout-container {
  height: 100vh;

  background-image: url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* Page Headers */
.page-header {
  margin-bottom: 25px;
  text-align: center;
}

/* Block dividers */
.block-divider {
  width: 40vw;
  height: 5px;
  border: 0;
  background-color: #212529;
}

.block-divider--blue {
  background-color: #2cafe3;
}

.block-divider--white {
  background-color: #ffffff;
}
 text-white bg-dark
.about-us-text {
    font-size: 1.25rem;;
}

/* Buttons */
.btn--cta {
  border-radius: 10em;
  padding: 0.5rem 2.5rem;
}

.btn--blue {
  color: white;
  background-color: #2cafe3;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
  background-color: #1da3d9;
  color: white;
}

#quiz-response {
    font-size: 2rem;
}
 
/* Fast Facts */

.fast-facts {
    display: flex;
    justify-content: center;
    color: #592385;
    font-size: 2rem
}

.fast-facts ol {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center
}